<div ng-controller="ShellController as vm" flex layout="column">

    <md-toolbar md-scroll-shrink="" layout="row">
        <div class="md-toolbar-tools">
            <h1>Bookshelf App</h1>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon> android </md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
              <md-icon> face </md-icon>
            </md-button>
        </div>
    </md-toolbar>
       <!-- Container #4 -->

   <md-content ui-view></md-content>



</div>
